<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">

	<script src="js/libs/modernizr-1.7.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
	<div id="container">
		<header>
          <h1>GUESS &nbsp; PLACES &nbsp; NEARBY</h1>
		</header>

		<div id="main" role="main">
		  <br />
          <span style="float: left; color: green; margin-left: 10px;">Score: &nbsp;<span id="score"></span></span>
          <!-- <span style="float: right; color: red; margin-right: 20px;">Time: &nbsp;<span id="timeLeft"></span>&nbsp; left</span> -->
          <br /><br />
          <div style="color: purple; margin-left: 10px;">Guess what Place is a...</div>
          <br/>
	      <div id="venue">
	      </div>
		</div>

		<footer>

		</footer>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="js/libs/jquery.canvas-loader.1.3.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	
	<script>
	storage = window.localStorage;
	var uuid = storage.getItem("uuid");
	var geoLocation = null
	var userID = null
	$('html').prepend('<div id="overlayContainer"></div>');
	
	//overlay, alert, confirm, select
	function showOverlay(){
		$("#overlayContainer").html('<div class="darkOverlay"></div>');
		$(".darkOverlay").addClass("darkOverlay_on");
		overlay=true;
	}

	function hideOverlay(){
		$(".dialog_container").addClass("off"); 
		$(".darkOverlay").addClass("darkOverlay_off");
		setTimeout(function(){$("#overlayContainer").html('');},300);
		overlay=false;
		$('.active').removeClass('active');
	}
	
	function showLoading(){
		showOverlay();
		$(".darkOverlay").html('<div class="ajaxLoader">loading...</div>');
		$(".ajaxLoader").canvasLoader({
		  backgroundColor:'transparent',
		  color:'#86d4f9',
		  fps:10,
		  radius:40,
		  dotRadius:3  
		  });
		
	}
	
	function hideLoading(){
		hideOverlay();
	}
	
	function guidGenerator() {
	  var S4 = function() {
	    return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
	  };
	  return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
	}
	
	function successCallback(position) {
	  geoLocation = position;
      loginUser();
	}
	
	function errorCallback(error) {
	  if (console.log) {
	    console.log(error);
	  }
	}
	
	function loginUser() {
	  if(uuid==null) {
	    uuid = guidGenerator();
	    window.localStorage.setItem("uuid", uuid);
	  }
	  console.log("logging in user with uuid " + uuid);	
	  $.get("/login?" + "uuid=" + uuid, function(data) {
		userID = data.user_id;
		$('#score').html(data.score);
        //window.navigator.geolocation.watchPosition(successCallback, errorCallback, { frequency: 3000 });
		loadVenues();
	  });
	}
	
	function loadVenues() {
	  console.log("Getting List of trending venues from Foursquare");
	  $.get("/venues?" + "lat=" + geoLocation.coords.latitude + "&lng=" + geoLocation.coords.longitude + "&user_id=" + userID, function(data) {
	    $('#venue').html(data);
	    hideLoading();
	  });
	}
	
	if(window.navigator.geolocation){
	  errorCallback("Yes, Geolocation is Supported");
	  window.navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
	} else {
	  errorCallback("No, Geolocation is not Supported");
	}
	showLoading();
	</script>
</body>
</html>